*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 2px solid #ddd;
}
.phan1{
    width: 20%;
    height: 1000px;
    float: left;
    display: none;
}
.phan2{
    width: 100%;
    height: 1000px;
    float: left;
    /* display: flex; */
}
.phan3{
    width: 20%;
    height: 1000px;
    float: left;
    display: none;
}
.o1{
    width: 50%;
    height: 100px;
    float: left;
}
.o2{
    width: 50%;
    height: 100px;
    float: left; 
}
.o21{
    height: 50%;
}
.o3{
   height: 100px;
   float: inherit;
   width: 100%;
}
.o4{
    height: 100px;
    float: inherit;
    width: 50%;
}
.o41{
    height: 50px;
}
.o5{
    height: 100px;
    float: left;
    width: 50%;
}
.o6,
.o7,
.o8{
    width: calc(100% /3);
    height: 100px;
    float: left;
}